<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link rel="stylesheet" href="static/style/index.css">
    <link rel="shortcut icon" href="static/style/images/favicon.png" type="image/png">
    <title>Главная</title>
</head>
<body>


<header class="he">
    <div class="container">
        <div class="hei">
            <div class="hel">Агрегатор агрегаторов</div>

            <nav class="nav">
                <a class="navl" href="/">Главная</a>
                <a class="navl" href="/all">Спискок</a>
                <a class="navl" href="/sources">Источники</a>
                <a class="navl" href="/today">Последнее изменение</a>
                <a class="navl" href="/logout">Выход</a>
            </nav>
        </div>
    </div>
</header>


<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">Практика по opencv</h1>
            <h2 class="intro__suptitle"><a href="/xload">Скачать xlsx</a></h2>
        </div>
    </div>
</div>
</body>
</html>
